.env

__pycache__/
deusxmasbot/
deusxmasbot
deusxmasbot/*
deusxmasbot*

# Virtualenv
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

*.swp
*.*.swp

.pytest_cache/
